<form (ngSubmit)="formSubmit()" class="bg-white p-4 rounded shadow-md">
    <label for="newTodoItem" class="block text-gray-700 font-medium mb-2">Ny uppgift:</label>
  
    <input
      id="newTodoItem"
      name="newTodoItem"
      [(ngModel)]="newTodoInput"
      type="text"
      class="w-full border border-gray-300 rounded px-3 py-2 mb-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
      required
    />
  
    <button
      type="submit"
      class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded"
    >
      Spara
    </button>
  </form>
  